{% extends "base.html" %}
{% block title %}Працівники{% endblock %}
{% block content %}
<div class="py-4">
    <h1 class="text-4xl font-bold mb-6 text-center">Працівники</h1>

    <div class="flex justify-between items-center mb-6">
        <div class="flex items-center">

            <div class="flex space-x-4 items-center">
                <a href="{{ url_for('views.employees', position='Менеджер') }}">
                    <button class="px-4 py-2 border rounded-lg bg-gray-100 hover:bg-gray-200 {% if current_filter == 'Менеджер' %}bg-blue-200{% endif %}">
                        Менеджери
                    </button>
                </a>
                <a href="{{ url_for('views.employees', position='Касир') }}">
                    <button class="px-4 py-2 border rounded-lg bg-gray-100 hover:bg-gray-200 {% if current_filter == 'Касир' %}bg-blue-200{% endif %}">
                        Касири
                    </button>
                </a>
                <a href="{{ url_for('views.employees') }}">
                    <button class="px-4 py-2 border rounded-lg bg-gray-100 hover:bg-gray-200 {% if not current_filter %}bg-blue-200{% endif %}">
                        Всі
                    </button>
                </a>
            </div>

            <p class="mr-4 ml-4 text-lg">Знайти за прізвищем</p>
            <form method="GET" action="{{ url_for('views.employees') }}" class="flex items-center" id="search-form">
    <input
        type="text"
        name="search"
        placeholder="Пошук..."
        value="{{ request.args.get('search', '') }}"
        class="px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
    <button type="submit" class="ml-2 px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">Пошук</button>
</form>

        </div>

        <div class="flex space-x-4">
            <a href="{{ url_for('views.add_employee_form') }}">
        <button class="flex items-center px-4 py-2 bg-blue-500 text-white rounded-full hover:bg-blue-600">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                      d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                      clip-rule="evenodd"/>
            </svg>
            Додати
        </button>
            </a>
            <button class="px-4 py-2 border border-gray-300 rounded-lg hover:bg-gray-100">
        Надрукувати звіт
            </button>
        </div>
    </div>

    <!-- Таблиця працівників -->
    <div class="overflow-x-auto">
        <table class="min-w-full border-collapse border border-gray-300">
            <thead>
            <tr class="bg-gray-100">
                <th class="border border-gray-300 px-4 py-2 text-left">
                    <a href="{{ url_for('views.employees', search=request.args.get('search'), position=current_filter, sort='id', order='asc' if request.args.get('order') == 'desc' else 'desc') }}" class="hover:underline">
                        # {% if request.args.get('sort') == 'id' %}
                            {% if request.args.get('order') == 'asc' %}
                            {% else %}
                            {% endif %}
                        {% endif %}
                    </a>
                </th>
                <th class="border border-gray-300 px-4 py-2 text-left">
                    <a href="{{ url_for('views.employees', search=request.args.get('search'), position=current_filter, sort='last_name', order='asc' if request.args.get('order') == 'desc' else 'desc') }}" class="hover:underline">
                        ПІБ {% if request.args.get('sort') == 'last_name' %}
                            {% if request.args.get('order') == 'asc' %}
                            {% else %}
                            {% endif %}
                        {% endif %}
                    </a>
                </th>
                <th class="border border-gray-300 px-4 py-2 text-left">Посада</th>
                <th class="border border-gray-300 px-4 py-2 text-left">ЗП</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Дата Початку</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Дата народження</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Телефон</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Адреса</th>
                <th class="border border-gray-300 px-4 py-2 text-left">...</th>
            </tr>
            </thead>
            <tbody>
            {% if employees %}
            {% for employee in employees %}
            <tr>
                <td class="border border-gray-300 px-4 py-2">{{ employee.id }}</td>
                <td class="border border-gray-300 px-4 py-2">{{ employee.full_name }}</td>
                <td class="border border-gray-300 px-4 py-2">{{ employee.position }}</td>
                <td class="border border-gray-300 px-4 py-2">{{ employee.salary }}</td>
                <td class="border border-gray-300 px-4 py-2">{{ employee.start_date }}</td>
                <td class="border border-gray-300 px-4 py-2">{{ employee.birth_date }}</td>
                <td class="border border-gray-300 px-4 py-2">{{ employee.phone }}</td>
                <td class="border border-gray-300 px-4 py-2">{{ employee.address }}</td>
                <td class="border border-gray-300 px-4 py-2">
                    <div class="flex flex-col space-y-1">
                        <a href="/employees/edit/{{ employee.id }}" class="text-blue-600 hover:underline">Редагувати</a>
                        <form method="POST" action="{{ url_for('views.delete_employee', id=employee.id) }}" onsubmit="return confirmDelete()" class="inline">
                            <button type="submit" class="text-red-600 hover:underline">Видалити</button>
                        </form>

                    </div>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            {% endif %}

            <script src="{{ url_for('static', filename='index.js') }}"></script>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}