{% extends "base.html" %}
{% block title %}Головна{% endblock %}

{% block content %}
<div class="text-center mt-20">
    <h1 class="text-5xl font-bold text-black">Головна сторінка</h1>

    {% if user.position == 'Менеджер' %}
    <!-- Статистика для менеджера -->
    <p class="text-xl mt-10">Статистика</p>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mt-8 max-w-4xl mx-auto">
        <a href="/products" class="bg-white rounded-lg shadow-md p-6 hover:-translate-y-1 hover:shadow-lg transition transform text-gray-800">
            <div class="text-lg font-medium mb-2">Кількість товару</div>
            <div class="text-4xl font-bold">{{ product_count }}</div>
        </a>
        <a href="/employees" class="bg-white rounded-lg shadow-md p-6 hover:-translate-y-1 hover:shadow-lg transition transform text-gray-800">
            <div class="text-lg font-medium mb-2">Працівники</div>
            <div class="text-4xl font-bold">{{ employee_count }}</div>
        </a>
        <a href="/clients" class="bg-white rounded-lg shadow-md p-6 hover:-translate-y-1 hover:shadow-lg transition transform text-gray-800">
            <div class="text-lg font-medium mb-2">Картки клієнтів</div>
            <div class="text-4xl font-bold">{{ client_count }}</div>
        </a>
        <a href="/статистика" class="bg-blue-100 rounded-lg shadow-md p-6 hover:-translate-y-1 hover:shadow-lg transition transform text-gray-800">
            <div class="text-lg font-medium">Переглянути статистику продажу певного товару</div>
        </a>
    </div>

     {% elif user.position == 'Касир' %}
    <!-- Особиста інформація для касира або інших -->
    <div class="mt-10 max-w-md mx-auto bg-white shadow-md rounded-lg p-6 text-left text-gray-800">
        <h2 class="text-2xl font-bold mb-4">Особиста інформація</h2>
        <p><strong>ID:</strong> {{ user.id }}</p>
        <p><strong>ПІБ:</strong> {{ user.last_name }} {{ user.first_name }} {{ user.middle_name }}</p>
        <p><strong>День народження:</strong> {{ user.birth_date }}</p>
        <p><strong>Номер телефону:</strong> {{ user.phone }}</p>
        <p><strong>Адреса проживання:</strong> {{ user.city }} {{ user.street }} {{ user.postal_code }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Посада:</strong> {{ user.position }}</p>
        <p><strong>Зарплата:</strong> {{ user.salary }}</p>

    </div>
    {% endif %}
</div>

<a href="/dashboard" class="fixed bottom-8 right-8 w-12 h-12 rounded-full bg-red-500 text-white flex items-center justify-center text-lg font-bold shadow-lg hover:bg-red-600 transition">
    Д
</a>
{% endblock %}
