{% extends "base.html" %}
{% block title %}Головна{% endblock %}

{% block content %}
<div class="text-center mt-10">
    <h1 class="text-5xl font-bold text-black">Головна сторінка</h1>

    {% if user.position == 'Менеджер' %}

    <!-- Статистика для менеджера -->
    <p class="text-xl mt-10">Загальне</p>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mt-8 max-w-4xl mx-auto">
         <a href="/salesStatistics" class="bg-white rounded-lg shadow-md p-6 hover:-translate-y-1 hover:shadow-lg transition transform text-gray-800">
            <div class="text-lg font-medium mb-2">Статистика продажів</div>
         </a>
         <a class="bg-white rounded-lg shadow-md p-6 hover:-translate-y-1 hover:shadow-lg transition transform text-gray-800">
            <div class="text-lg font-medium mb-2">Аналітика роботи працівників</div>
            <div class="text-4xl font-bold">{{ employee_count }}</div>
        </a>
    </div>
     <!-- Аналітика певного товару -->
    <div class="mt-16 max-w-4xl mx-auto">
        <h2 class="text-3xl font-bold mb-6">Аналітика певного товару</h2>

        <form action="/product-analytics" method="GET" class="flex flex-col md:flex-row gap-4 justify-center items-center mb-4">
            <div class="w-full md:w-1/2 ">
                <label for="product" class="sr-only">Товар:</label>
                <input type="text" id="product" name="product" placeholder="Введіть назву товару"
                       class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>

            <div class="mr-4 flex items-center space-x-2">
    <p class="mb-1">
        <a class="btn btn-outline-secondary">
            Період
        </a>
    </p>
    <input
        type="date"
        name="date_from"
        class="px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        value="{{ request.args.get('date_from', '') }}"
    />
    <input
        type="date"
        name="date_to"
        class="px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        value="{{ request.args.get('date_to', '') }}"
    />
</div>


            <button type="submit" class=" px-6 py-2 bg-blue-600 text-white font-medium rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-colors ">
                Знайти
            </button>
        </form>

        {% if product_name %}
        <div class="mt-4 bg-white shadow-md rounded-lg p-6 text-center">
            <h3 class="text-2xl font-bold mb-3">{{ product_name }}</h3>
            <p class="text-xl">Кількість продажу: <span class="font-bold text-blue-600">{{ sales_quantity }}</span></p>
        </div>
        {% endif %}
    </div>

     {% elif user.position == 'Касир' %}
    <!-- Особиста інформація для касира або інших -->
    <div class="mt-10 max-w-md mx-auto bg-white shadow-md rounded-lg p-6 text-left text-gray-800">
        <h2 class="text-2xl font-bold mb-4">Особиста інформація</h2>
        <p><strong>ID:</strong> {{ user.id }}</p>
        <p><strong>ПІБ:</strong> {{ user.last_name }} {{ user.first_name }} {{ user.middle_name }}</p>
        <p><strong>День народження:</strong> {{ user.birth_date }}</p>
        <p><strong>Номер телефону:</strong> {{ user.phone }}</p>
        <p><strong>Адреса проживання:</strong> {{ user.city }} {{ user.street }} {{ user.postal_code }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Посада:</strong> {{ user.position }}</p>
        <p><strong>Зарплата:</strong> {{ user.salary }}</p>
    </div>
    {% endif %}
</div>
{% endblock %}

