{% extends "base.html" %}
{% block title %}Товари у магазині{% endblock %}
{% block content %}
<div class="py-4">
    <h1 class="text-4xl font-bold mb-6 text-center">Товари у магазині</h1>

    <div class="flex justify-between items-center mb-6">
        <div class="flex items-center">
            <div class="flex space-x-4 items-center">
                <a href="{{ url_for('views.storeproducts', promo='yes') }}">
                    <button class="px-4 py-2 border rounded-lg bg-gray-100 hover:bg-gray-200 {% if current_promo_filter == 'yes' %}bg-blue-200{% endif %}">
                        Акційні
                    </button>
                </a>
                <a href="{{ url_for('views.storeproducts', promo='no') }}">
                    <button class="px-4 py-2 border rounded-lg bg-gray-100 hover:bg-gray-200 {% if current_promo_filter == 'no' %}bg-blue-200{% endif %}">
                        Не акційні
                    </button>
                </a>
                <a href="{{ url_for('views.storeproducts') }}">
                    <button class="px-4 py-2 border rounded-lg bg-gray-100 hover:bg-gray-200 {% if not current_promo_filter %}bg-blue-200{% endif %}">
                        Всі
                    </button>
                </a>
            </div>

            <p class="mr-4 ml-4 text-lg">Пошук за UPC</p>
            <form method="GET" action="{{ url_for('views.storeproducts') }}" class="flex items-center" id="search-form">
                <input
                        type="text"
                        name="search"
                        placeholder="Пошук..."
                        value="{{ request.args.get('search', '') }}"
                        class="px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                />
                <button type="submit" class="ml-2 px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">Пошук
                </button>
            </form>
        </div>

        {% if user.position == 'Менеджер' %}
        <div class="flex space-x-4">
            <a href="{{ url_for('views.add_storeproduct') }}">
                <button class="flex items-center px-4 py-2 bg-blue-500 text-white rounded-full hover:bg-blue-600">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20"
                         fill="currentColor">
                        <path fill-rule="evenodd"
                              d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                              clip-rule="evenodd"/>
                    </svg>
                    Додати
                </button>
            </a>
            <form id="printReportForm">
                <button type="button" id="printButton"  class="px-4 py-2 border border-gray-300 rounded-lg hover:bg-gray-100">
                    Надрукувати звіт
                </button>
            </form>
        </div>
        {% endif %}
    </div>

    <!-- Таблиця -->
    <div class="overflow-x-auto">
        <table class="min-w-full border-collapse border border-gray-300">
            <thead>
            <tr class="bg-gray-100">
                <th class="border border-gray-300 px-4 py-2 text-left">#UPC</th>
                <th class="border border-gray-300 px-4 py-2 text-left">
                    <a href="{{ url_for('views.storeproducts',
                        sort='name',
                        order='desc' if request.args.get('sort') == 'name' and request.args.get('order') == 'asc' else 'asc',
                        search=request.args.get('search'),
                        category=request.args.get('category')) }}"
                       class="hover:underline">
                        Назва
                        {% if request.args.get('sort') == 'name' %}
                        {% if request.args.get('order') == 'asc' %}
                        ▲
                        {% else %}
                        ▼
                        {% endif %}
                        {% endif %}
                    </a>
                </th>
                <th class="border border-gray-300 px-4 py-2 text-left">Ціна продажу</th>
                <th class="border border-gray-300 px-4 py-2 text-left">
                    <a href="{{ url_for('views.storeproducts',
                        sort='quantity',
                        order='desc' if request.args.get('sort') == 'quantity' and request.args.get('order') == 'asc' else 'asc',
                        search=request.args.get('search'),
                        category=request.args.get('category'),
                        promo=request.args.get('promo')) }}"
                       class="hover:underline">
                        Кількість
                        {% if request.args.get('sort') == 'quantity' %}
                        {% if request.args.get('order') == 'asc' %}
                        ▲
                        {% else %}
                        ▼
                        {% endif %}
                        {% endif %}
                    </a>
                </th>


                <th class="border border-gray-300 px-4 py-2 text-left">акційний товар</th>
                {% if user.position == 'Менеджер' %}
                <th class="border border-gray-300 px-4 py-2 text-left">...</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% if products %}
            {% for product in products %}
            <tr>
                <td class="border border-gray-300 px-4 py-2">{{ product.upc }}</td>  <!-- UPC товару -->
                <td class="border border-gray-300 px-4 py-2">{{ product.product.name }}</td>  <!-- Назва товару -->
                <td class="border border-gray-300 px-4 py-2">{{ product.price }}</td>  <!-- Ціна товару -->
                <td class="border border-gray-300 px-4 py-2">{{ product.quantity }}</td>  <!-- Кількість товару -->
                <td class="border border-gray-300 px-4 py-2">{{ 'Так' if product.is_promotional else 'Ні' }}</td>
                <!-- Акційний товар -->
                {% if user.position == 'Менеджер' %}
                <td class="border border-gray-300 px-4 py-2">
                    <div class="flex flex-col space-y-1">
                        <a href="/storeproducts/edit/{{ product.upc }}"
                           class="text-blue-600 hover:underline">Редагувати</a>
                        <form method="POST" action="{{ url_for('views.delete_storeproduct', upc=product.upc) }}"
                              onsubmit="return confirm('Ви впевнені, що хочете видалити цей товар?')" class="inline">
                            <button type="submit" class="text-red-600 hover:underline">Видалити</button>
                        </form>
                    </div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="{{ 6 if user.position == 'Менеджер' else 5 }}" class="text-center py-4">Немає товарів для
                    відображення
                </td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

<script src="{{ url_for('static', filename='index.js') }}"></script>

<script>
            document.getElementById('printButton').addEventListener('click', function () {
            const printWindow = window.open('', 'printWindow', 'width=800,height=600');

            fetch("{{ url_for('views.print_storeproducts_report') }}")
                .then(response => response.text())
                .then(html => {
                    printWindow.document.open();
                    printWindow.document.write(html);
                    printWindow.document.close();

                    printWindow.onload = function () {
                    printWindow.focus();
                    printWindow.print();
                };
            })
            .catch(error => {
            console.error('Помилка під час отримання звіту:', error);
            alert('Не вдалося завантажити звіт для друку.');
            });
            });
            </script>
{% endblock %}